@charset "utf-8";

// Set vars here to customize bulma
// $primary: purple;

@import "~bulma/bulma";

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}
/**
 * Basic content vertical rhythm for those times when Bulma's .content isn't exactly right
 */
.tp-v-rhythm-container > * {
    margin-top: 0;
    margin-bottom: 0;
}

.tp-v-rhythm-container > * + * {
    margin-top: 1rem;
}
// @import "~bulma/sass/utilities/_all.sass";
// @import "~bulma/sass/base/_all.sass";